body {
    background-color: #282c34;
    font-family: 'Source Sans Pro', sans-serif;
    color: #6022A6;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh;
    align-items: center;
    background-color: white;
    min-height: 650px;
  }
  .largeContainer {
    border-radius: 25px;
    margin: 5vh;
  }
  .smallContainer {
    border-radius: 10px;
  }
  .titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
    background-color: #6022A6;
    color: white;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6)
  }
  .largeTitleSection {
    text-shadow: 3px 3px 3px black;
  }
  .searchSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6022A6;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  }
  .largeSearchSection {
    width: 480px;
  }
  input {
    width: 72%;
    height: 38px;
    border-radius: 25px;
    padding-left: 15px;
    font-size: large;
    text-transform: uppercase;
  }
  input::placeholder {
    padding-left: 2px;
    font-size: medium;
    text-transform: capitalize;
  }
  input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #6022A6;
  }
  input::-webkit-search-cancel-button {
    cursor: pointer;
    padding-right: 5px;
  }
  button {
    color: #6022A6;
    background-color: white;
    height: 38px;
    border-radius: 25px;
  }
  button:hover {
    cursor: pointer;
    outline-style: solid;
    outline-width: 2px;
    outline-color: white;
  }
  .smallButton:hover {
    outline-style: none;
    outline-width: 0;
    outline-color: none;
  }
  .resultSectionContainer {
    min-height: 250px;
    display: none;
  }
  .resultSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6022A6;
    color: white;
    padding: 1vh;
    border-radius: 10px;
    height: 250px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    transition-duration: 500ms;
  }
  .largeResultSection {
    text-shadow: 3px 3px 3px black;
    min-width: 480px;
  }
  .resultSectionHide {
    background-color: white;
    text-shadow: none;
    box-shadow: none;
    min-height: 60px;
    transition-duration: 500ms;
  }
  .topResultItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .topResultContent {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  .bottomResultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .bottomResultItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  .divider {
    width: 100%;
  }
  .rangeContainer {
    border: solid #282c34 1px;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-radius: 10px;
  }
  .removeRangeCardButtonContainer {
    display: flex;
    justify-content: end;
  }
  .removeRangeCardButton {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    
  }
  .rangeInputContainer {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
  .rangeInput {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 5px;
  }
  .inputAndButton {
    display: flex;
    align-items: center;
  }
  .exceptionButton {
    margin-left: 5px;
  }
  .removeExceptionButton {
    height: 42px;
    margin-left: 5px;
  }
  .rangeTextAreaContainer {
    display: flex;
    flex-direction: column;
  }
  .rangeTextArea {
    height: 50px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }
  .rangeLabel {
    padding: 5px;
  }
  .rangeButton {
    margin-left: 5px;
  }
  .submitButton {
    margin-top: 5px;
    margin-left: 5px;
  }
